.principal-div {
  padding: 10px;
  margin: 10px;

  table {
    width: 100%;
  }

  .tableTitle {
    color: #560eec;
    font-weight: bold;
  }

  .top-button {
    color: white;
    background-color: #560eec;
    border: 1px solid #560eec;
  }

  .mat-row:hover {
    background-color: #f5f5f5 !important;
    cursor: default;
  }

  .mat-header-row {
    background-color: #381a49;
  }

  .mat-header-cell {
    font-weight: bold;
    color: white;
  }
}
