.not-found {
  height: 100vh;

  .title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  img {
    width: 800px;
    object-fit: cover;
  }
}
